#all-posts{
    padding: 0;
}

.post-block{
    width: 561px;
    min-height: 100px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    
}

.post-block-header{
    width: 511px;
    height: 81px;
    position: relative;
    top: 10px;
    margin-left: 10px;
    display: flex;
}


.post-options-button{
    width: 30px;
    height: 30px;
    position: relative;
    left: 159px;
    border-radius: 20px;
    border: none;
    background-color: cyan;
}

.post-username{
    width: 300px;
    height: 40px;
    background-color: purple;
}
.post-profile-image{
    height: 40px;
    width: 40px;
    margin-right: 10px;
    border-radius: 28px;
    background-color: yellow;
}


.post-block-text{
    margin: 0;
    width: 538px;
    min-height: 40px;
    overflow-wrap: break-word;
    font-size: 35px;
    flex: 1;
    white-space: pre-line;
    
   
    
    
}
.post-block-main{
    width: 538px;
    margin: auto;
    min-height: 50px;
   
    
}

.big-text-hidden{
    margin: 0;
    width: 538px;
    min-height: 40px;
    max-height: 152px;
    font-size: 35px;
    text-overflow: ellipsis;
    flex: 1;
    white-space: normal;
    overflow: hidden;
}



.post-block-footer{
    width: 538px;
    height: 90px;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 10px;
}

.post-block-buttons{
    height: 47px;
    display: flex;    
    margin-bottom: 5px;
}

.post-button{
    height: 47px;
    width: 200px; 
    background-color: #fff;
    border: 1px solid #dddfe2;
    border-radius: 8px;

}

.small-text{
    font-size: 16px;
}




.post-comment-block{
    width: 537px;
    position: relative;
    height: 40px;
    display: flex;
    margin: auto;
}

.post-comment-user{
    height: 30px;
    width: 30px;
    position: relative;
    top: 5px;
    border-radius: 15px;
    margin-right: 7px;
    background-color: orange;
}

.post-comment-input{
    width: 485px;
    height: 30px;
    position: relative;
    top: 4px;
    border: none;
    border-radius: 21px;
    background-color: #f0f2f5;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
    outline: none;
}

.see-more-button{
    border: none;
    font-size: 15px;
    padding: 0;
    font-weight: bold;
    background-color: #fff;
}

.see-more-button:hover{
    text-decoration: underline;
}

#edit-post-container{
    display: none;
}

