li{
    list-style-type: none;
}

#post-bar{
    height: 95px;
    width: 561px;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    margin: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .16), 0 8px 16px rgba(0, 0, 0, 0);
    
}

#post-bar-main{
    border-bottom: 1px solid #ced0d4;
    position: relative;
    top: 15px;
    width: 527px;
    height: 56px;
    margin: auto;
}

#post-image{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background: orange;
}

#text-prompt{
    font-size: 18px;
    position: absolute;
    top: 9px;
    color: #66686c;
    font-weight: 100;
    left: 13px;
}


#post-text-button{
    width: 478px;
    height: 40px;
    background-color: #f0f2f5;
    position: absolute;
    right: 0px;
    border-radius: 20px;
    top: 0px;
}

#post-text-button:hover{
    background-color: #e6e7e9;
}

#post-container{
    display: none;
}

#post-modal-conatianer{
    display: block;
    position: fixed;
    background-color: rgba(255, 255, 255, .8);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

#post-header-container{
    padding-bottom: 18px;
    position: relative;
    top: 20px;
    border-bottom: 1px solid #e8e8e8;
}

#post-image-container{
    display: flex;
    margin-top: 33px;
    margin-bottom: 6px;
}

#small-post-image{
    height: 35px;
    width: 35px;
    border-radius: 20px;
    background: orange;
    margin-left: 16px;
}

#post-modal-header{
    margin: 0 auto;
    width: 200px;
    text-align: center;
    font-size: 21px;
}

#post-modal{
    width: 500px;
    position: relative;
    height: 330px;
    margin: auto;
    margin-top: 120px;
    background: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}

#post-text{
    height: 115px;
    padding: 10px;
    padding-left: 18px;
    outline: none;
    resize: none;
    font-size: 25px;
    overflow: auto;
    font-weight: lighter;
    font-family: SANS-SERIF;
    border: none;
}

#post-submit-button{
    width: 465px;
    height: 40px;
    margin: auto;
    border: none;
    border-radius: 6px;
    color: #bcc0c4;
    font-size: 16px;
    position: relative;
    background: #e4e6eb;
    top: 24px;
    pointer-events: none;
}

#post-close-button{
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 4;
    background-image: image-url('postXDefault.png');
    background-size: 30px;
    height: 30px;
    width: 30px;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
}

#post-close-button:hover{
    background-image: image-url('theRealXSelected.png');
}


#post-username{
    margin-left: 10px;
}

#post-modal-main{
    display: flex;
    flex-direction: column;
}