#profile-main-content{
    display: flex;
    flex-direction: row;
    max-width: 980px;
    margin: auto;
}

#profile-header{
    height: 522px;
    width: 102%;
    position: relative;
    right: 8px;
    padding-left: 8px;
    margin-bottom: 20px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .07), 0 8px 16px rgba(0, 0, 0, .01);
    
}

#profile-posts-content{
    margin: 0 auto;
}

#upper-profile-header{
    height: 460px;
}

#cover{
    position: relative;
    display: flex;
    width: 100%;
}

#cover-profile-picture{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: -107px;
    height: 170px;
    width: 170px;
    border-radius: 95px;
    background: orange;
    border: 4px solid #fff;
}

#cover-photo{
    width: 100%;
    height: auto;
}

#cover-photo-box{
    height: 350px;
    width: 1050px;
    overflow: scroll;
    border-top: none;
    margin: auto;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

#upper-profile-text{
    position: relative;
    text-align: center;
    top: 24px;
    left: 0px;
    margin-top: 2px;
    
}

.profile-text{
    position: relative;
}

#upper-profile-name{
    font-size: 37px;
    font-weight: 600;
}

#upper-profile-bio{
    font-size: 20px;
    margin-top: 2px;
    color: #727477;
    font-weight: 300;
}

#lower-profile-header{
    border-top: 1px solid #b7b9bd;
    display: flex;
    max-width: 720px;
    margin: auto;
}

#lower-profile-buttons{
    margin-top: 5px;
}

#edit-profile{
    margin-top: 5px;
}

.profile-buttons{
    height: 50px;
    width: 108px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    color: #65676b;
    background-color: #fff;
    border-radius: 6px;
}

.profile-buttons:hover{
    background: #EBEDF0;
}

#edit-profile-button{
    position: relative;
    top: 7px;
    left: 470px;
    padding-left: 50px;
    padding-right: 15px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    background: #e4e6eb;
    height: 38px;
    border: none;
}

#edit-profile-button:hover{
    filter: brightness(87%);
}

#edit-profile{
    position: relative;
}

#edit-profile-symbol{
    position: absolute;
    background-image: image-url('editSymbol.png');
    z-index: 1;
    left: 485px;
    top: 15px;
    background-size: 28px;
    height: 30px;
    width: 39px;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
}

#profile-side-content{
    min-width: 400px;
    margin-right: 15px;
}



.profile-side-panel{
    background: #fff;
    min-height: 180px;
    border-radius: 8px;
    margin-bottom: 15px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .01);
}

.info-text-line{
    display: flex;
    font-size: 15px;
    margin-bottom: 25px;
    margin-left: 60px;
}

.info-text-second{
    font-weight: bold;
    margin-left: 3px;
}

#info-detail{
    margin-left: 10px;
}

.info-div-container{
    position: relative;
}

.info-pic{
    position: absolute;
    z-index: 1;
    left: 17px;
    background-size: 30px;
    height: 30px;
    width: 30px;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    filter: brightness(87%);
}

#school-logo{
    background-image: image-url('realSchool.png');
    background-size: 30px;
    height: 30px;
    width: 30px;
}

#location-logo{
    background-image: image-url('livesAt.png');
    background-size: 16px;
    height: 27px;
    width: 16px;
    bottom: -6px;
    left: 24px;
}

#from-logo{
    background-image: image-url('from.png');
    background-size: 24px;
    height: 24px;
    width: 24px;
    top: -4px;
    left: 20px;
}



.panel-title{
    font-size: 23px;
    position: relative;
    padding-top: 15px;
    margin-left: 15px;
    font-weight: 600;
    margin-bottom: 15px;
    width: 200px;

}

.alt-profile-button{
    display: none;
    position: relative;
    top: 7px;
    left: 507px;
    padding-left: 50px;
    padding-right: 15px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    background: #e4e6eb;
    height: 38px;
    border: none;
}

.alt-profile-button:hover{
    filter: brightness(87%);
}

#add-friend{
    display: block;
    font-size: 20px;
    padding-left: 15px;
    height: 45px;
    padding-right: 15px;
    font-weight: 600;
    color: #fff;
    background: #166fe5;
}

#remove-friend{
    display: block;
    position: relative;
    font-size: 20px;
    padding-left: 50px;
    height: 45px;
    padding-right: 15px;
    font-weight: 600;
    color: #808080;
    background: #EBEDF0;
}
 
.friend-block{
    height: 140px;
    width: 120px;
    margin-right: 8px;
    margin-bottom: 9px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .18), 0 8px 16px rgba(0, 0, 0, .13);
}

.friend-block-pic{
    height: 100px;
    width: 120px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.friend-block-text{
    color: black;
    padding-left: 5px;
}

#friend-display{
    display: flex;
    flex-wrap: wrap;
    padding-left: 14px;
}

#check-img{
    background-image: image-url('check.png');
    position: absolute;
    background-size: 25px;
    background-repeat: no-repeat;
    height: 28px;
    width: 25px;
    bottom: 6px;
    left: 15px;
    filter: brightness(95%);
}

#Friends{
    padding-bottom: 1px;
}
