// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body{
    background: #f0f2f5;
    min-width: 500px;
    font-family: sans-serif;
}

h5{
    margin-top: 14px;
    margin-bottom: 3px
}

#logo-text{
    margin-top: 20px;
    font-size: 75px;
    text-decoration: none;
    font-family: "klavika_bold";
    color: #166fe5
}

#logo{
    margin-bottom: 30px;
    width: 396px;
    text-align: center;
    margin: 0 auto;
}

#app-header{
    margin-bottom: 30px;
    margin-top: 90px;
}

#login-container{
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    margin: 0 auto;
    padding: 1px 0 28px 16px;
    width: 396px;
    
}

#login-footer{
    width: 330px;
}

#login-form input{
    height: 22px;
    width: 330px;
    padding: 14px 16px;
    font-size: 17px;
    border-radius: 6px;
    border: 1px solid #dddfe2;
    margin-top: 6px;
    margin-bottom: 6px;
}

#login-button{
    width: 364px;
    height: 50px;
    font-size: 20px;
    padding-left: 0 16px;
    border-radius: 6px;
    margin-top: 6px;
    margin-bottom: 6px;
    background-color: #166fe5;
    color: #fff;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

#new-account-button{
    width: 200px;
    height: 50px;
    font-size: 14px;
    border-radius: 6px;
    margin-top: 6px;
    margin-bottom: 6px;
    font-weight: bold;
    margin-left: 85px;
    background-color: #36a420;
    color: #fff;
    border: none;
    cursor: pointer;
}

#demo-login-button{
    width: 150px;
    height: 50px;
    font-size: 14px;
    border-radius: 6px;
    margin-top: 6px;
    margin-bottom: 6px;
    font-weight: bold;
    margin-left: 110px;
    background-color: #36a420;
    color: #fff;
    border: none;
    cursor: pointer;
}

#signup-modal-conatainer{
    display: block;
    position: fixed;
    background-color: rgba(255, 255, 255, .8);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

#signup-modal{
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -220px;
    width: 432px;
    padding: 16px;
    background: #fff;
    height: 470px;
    z-index: 3;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    border: none;
}

#modal-errors{
    position: absolute;
    top: 62px;
    right: 60px;
    color: red;
}

#form-errors{
    color: red;
}


#signup-name{
    width: 450px;
    height: 41px;
    display: flex;
}

#login-fname{
    margin-right: 16px;
}

.signup-input{
    width: 411px;
    height: 41px;
    font-size: 17px;
    border: 1px solid #ccd0d5;
    background-color: #f5f6f7;
    border-radius: 6px;
    padding-left: 16px;
}

.signup-small-input{
    height: 41px;
    width: 188px;
    font-size: 17px;
    border: none;
    background-color: #f5f6f7;
    border: 1px solid #ccd0d5;
    border-radius: 6px;
    padding-left: 16px;
}

#signup-password{
    margin-top: 16px;
}

#signup-button{
    background-color: #36a420;
    color:#fff;
    font-weight: bold;
    width: 194px;
    height: 36px;
    margin-top: 30px;
    font-size: 18px;
    margin-left: 110px;
    border-radius: 6px;
    position: absolute;
    bottom: 20px;
    border: none;
    cursor: pointer;
}

#signup-close-button{
    position: absolute;
    right: 10px;
    top: 10px;
    background-image: image-url('betterX.png');
    background-size: 18px;
    height: 18px;
    width: 18px;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
}

#signup-title{
    font-size: 32px;
}

#custom-options{
    display: none;
    width: 450px;
}

#gender-div{
    display: flex;
    flex-direction: column;
    width: 450px;
}

#gender-container{
    display: flex;
}

#birthday-dropdowns{
    width: 450px;
}

.birthday-input{
    height: 41px;
    width: 136px;
    font-size: 17px;
    margin-right: 12px;
    border: 1px solid #ccd0d5;
    border-radius: 6px;
    padding-left: 12px;
}

.signup-subheader{
    font-weight: normal;
    color: #606770;
}

.gender-dropdowns{
    height: 41px;
    width: 127px;
    font-size: 15px;
    margin-right: 12px;
    border: 1px solid #ccd0d5;
    border-radius: 6px;
    padding-left: 12px;
    position: relative;
}

#male-block{
    width: 111px;
}

.gender-label{
    position: absolute;
    top: 10px;
}

.gender-radio-input{
    position: absolute;
    top: 10px;
    right: 10px;
}

#pronouns-dropdown{
    height: 41px;
    width: 432px;
    margin-top: 18px;
    border: 1px solid #ccd0d5;
    border-radius: 6px;
    padding-left: 12px;
}

#gender-input{
    height: 41px;
    width: 416px;
    margin-top: 18px;
    border: 1px solid #ccd0d5;
    background-color: #f5f6f7;
    border-radius: 6px;
    padding-left: 12px;
}

